.containerMain {
  max-height: 100vh;
}

.authMain {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

svg {
  filter: drop-shadow(0 0 10px white);
}

.pin {
  border-color: grey !important;
  box-shadow: none !important;
}
.pin:invalid {
  animation: shake 5 linear 75ms !important;
  border-color: red !important;
  box-shadow: 0 0 0.25rem rgba(red, 0.5) !important;
}

@media (min-width: 768px) {
  .containerMain {
    max-height: fit-content;
  }
  .authMain {
    height: fit-content;
    box-shadow: none;
    border-radius: 0%;
  }
}

@keyframes shake {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}
