.authMain {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  height: 100%;
}

svg {
  filter: drop-shadow(0 0 10px white);
}

@media (min-width: 768px) {
  .authMain {
    box-shadow: none;
    border-radius: 0%;
  }
}
