html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9fbfe;
  height: 100%;
  min-height: 100%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100vh;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgMain {
  background-color: #6379f4 !important;
  border: none !important;
  color: white !important;
}
.bgSecondary {
  background-color: #f9fbfe !important;
}

.textMain {
  color: #6379f4 !important;
}

.rounder {
  border-radius: 0px !important;
}
.rounder-top {
  border-bottom-left-radius: 2;
  border-bottom-right-radius: 2;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
}

.rounder-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 2;
  border-top-right-radius: 2;
}

input.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

div > .shadow-sm {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.053) !important;
}

.underlineInput::placeholder {
  color: rgba(128, 128, 128, 0.123) !important;
  padding-top: 100px !important;
  font-size: 14px;
}

.dropdown-toggle::after {
  display: none !important;
}
@media (min-width: 768px) {
  .rounder-top,
  .rounder-bottom {
    border-radius: 20px;
  }
  .rounder {
    border-radius: 20px !important;
  }
}

html > body > div#__next > #text {
  display: none;
}
