.cardItem {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.027);
}

.nav.nav-pills > button.active {
  background-color: white;
  font-weight: bold;
  color: #6379f4;
  border-left: 5px solid #6379f4;
  border-radius: 0%;
}

.mainDiv {
  max-height: 100vh;
}

@media (min-width: 768px) {
  .transaction-card {
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.027);
  }
  .cardItem {
    box-shadow: none;
  }

  .mainDiv {
    max-height: 678px;
  }
}
